<div class="container top-space">
    <button class="btn btn-primary float-right" (click)="moveToHomePage()">back to Home</button>
    <app-tabs>
        <app-tab [tabTitle]="'User Details'">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">User Details</h3>
                    <p class="card-text">
                        <span class="font-weight-bold">User Name: </span> <span>{{this.UserDetails[0]?.userName}}</span>
                        <br />
                        <span class="font-weight-bold">Name: </span> <span>{{this.UserDetails[0]?.userName}}</span>
                        <br />
                        <span class="font-weight-bold">User Email: </span>
                        <span>{{this.UserDetails[0]?.userEmail}}</span>
                    </p>
                </div>
            </div>
        </app-tab>
        <app-tab tabTitle="General Information">
            <div class="card">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p style="font-size: 1rem;">Earth provides enough to satisfy every man's needs, but not every man's greed.</p>
                        <footer class="blockquote-footer" style="font-size: 0.75rem;">Mahatma Gandhi 
                        </footer>
                    </blockquote>
                </div>
            </div>
        </app-tab>
    </app-tabs>
</div>